streamlit
python-dotenv

yt-dlp
pydub
ffmpeg-python

openai-whisper
torch
torchaudio

deep-translator

langchain
langchain-core
langchain-community
langchain-mistralai
mistralai

chromadb
sentence-transformers
langchain-huggingface
huggingface-hub
tiktoken
langchain-chroma

reportlab
fpdf2

numpy
tqdm
requests
